<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCD Malaysian Society Information</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header>
    <h1>UCD Malaysian Society</h1>
      <p class="slogan">Your Home Away From Home</p>
  </header>
  
  <nav>
    <div class="logo">Malaysian Society</div>
    <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="info.html">Club Resources</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </nav>
</body>
</html>