<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCD Malaysian Society Membership</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>  
  <nav>
    <div class="logo">UCD Malaysian Society</div>
    <input type="checkbox" id="menu-toggle" class="menu-checkbox">
    <label for="menu-toggle" class="menu-icon">☰</label>      
    <ul class="nav-links">
      <li><a href="../index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="membership.html">Membership</a></li>
      <li><a href="resources.html">Club Resources</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
</nav>

  <h2>Why Join Us?</h2>
  <ul class="membership-lists">
    <li>Join a community that relishes Malaysian culture.</li>
    <li>Network with fellow students or alumni from UCD and other colleges.</li>
    <li>Enjoy social events, sport sessions, gaming events.</li>
  </ul>
 
  
  <h2>Membership Perks</h2>
  <ul class ="membership-perks">
    <li>Free snacks at certain events.</li>
    <li>Access to hands-on skill workshops.</li>
    <li>Discounts on event tickets.</li>
  </ul>

  <h2>How To Join?</h2>
  <p>Email us <a href="mailto:malaysian@ucdsocieties.ie">here</a> to sign up and join today.<br /></p>
  

  <footer>
    <p>&copy; 2025 UCD Malaysian Society | Your Home Away From Home</p>
    <div class="social-icons">
        <a href="https://www.instagram.com/ucdmsoc/" target="_blank" class="icon instagram"></a>
        <a href="https://www.tiktok.com/@ucdmsoc?is_from_webapp=1&sender_device=pc" target="_blank" class="icon tiktok"></a>
    </div>
  </footer>
</body>
</html>
